body{
  background: linear-gradient(to bottom left,#f4f6f9, #36a9f0);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10vh;
  margin-bottom: 13vh;
  
}

.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width:300px;
  height:500px;
  padding: 40px;
  border-radius: 40px;
color:white;
background: linear-gradient(to bottom right,#2e5dae, #4e9fef);
box-shadow: 8px 8px 20px rgba(19, 18, 19, 0.8);
}

input{
  font-size: 1.1rem;
  width:250px;
  height:35px;
  border-radius: 10px;
  border: none;
  padding: 5px 12px;
  box-shadow: 5px 5px 10px rgba(17, 17, 17, 0.1);
}
input:hover{
  cursor: pointer;
  border: none;
}
.search{
  display: flex;
  justify-content: center;

}
.icon{
  margin:auto 8px;
  font-size: 2.5rem;

}

.search:hover{
  cursor: pointer;
}

.clouds{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  
}
.clo_icon{
  margin:20px 30px;
}

.min_max{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.min_max_val{
  background-color: rgba(236, 216, 250, 0.2);
  width:130px;
  height:130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  font-size: 1.1rem;
  border-radius: 20px;
  box-shadow: 8px 8px 20px rgba(19, 18, 19, 0.8);



}
.min_max_val p{
  font-size: 1.2rem;
}

.min_max_val:hover{
  width:134px;
  height:132px;
  margin:14px;
}

.main_val{
  background-color: rgba(17, 6, 26, 0.6);
  padding:15px 30px;
  border-radius: 10px;
  box-shadow: 6px 6px 15px rgba(60, 59, 60, 0.8);
    font-size: 3rem;
  text-align: center;
  
 
}


.loc{
  display: flex;
  justify-content: center;

}

.loc h3{
  font-size: 2rem;
  font-family:cursive;
  margin: 5px;
  text-shadow: 3px 4px rgb(250, 5, 5,0.5);

}

